[Unit]
Description=SAP System Start/Stop control
Requires=sapinit.service
After=sapinit.service

[Service]
Type=oneshot
ExecStart=/bin/sleep 30
ExecStart=/usr/local/bin/saprunctrl.sh start
ExecStop=/usr/local/bin/saprunctrl.sh stop

[Install]
WantedBy=multi-user.target
